// FONTS
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// COLORS
$color-white: #fff;
$color-black: #000;
$accent-color: #2196f3;
$contacts-color: #ffffff99;
$dark-bckg-color:#2f303a;
$gray-bckg-color: #f5f4fa;
$primary-text-color: #212121;
$secondary-text-color: #757575;